*{
    box-sizing: border-box;
}

body , html {
  
    margin: 0;
    background: #001821;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-height: 100%;
}

.container__title {
    margin: 0 auto;
    width: 1150px;
    min-height: 412px;
    display: flex;
    flex-direction: column;
    flex: 1; 
     justify-content: space-between;
    position: relative; 
}

.container {
    margin: 0 auto;
    width: 1150px;
    min-height: 412px;
    display: flex;
    flex-direction: column;
    flex: 1; 
    justify-content: space-between;
    position: relative; 
}

.container__footer {
    margin: 0 auto;
    width: 1150px;
    position: relative;
    margin: 40px 0px;
    
    
}

.container__partners {
    background: white;
    color: #1A1B1E;
    padding: 95px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* flex: 1;  */
    justify-content: center;
   

}

.container__partners-grey {
    background: #F4F5F5;
}


.container__service { 
    background: white;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* flex: 1;  */
    justify-content: space-between;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}