button {
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.button {
    font-size: 14px;
    font-weight: bold;
    color: #F5170E;
    text-transform: uppercase;
    border-color: none;
    border-radius: 35px;
    padding: 18px 40px;
    text-decoration: none; 
}

.preview__button {
    background: #F5170E;
    color: white;
}

.button--white {
    background-color: white;
    border: 1px solid #F5170E; 
}

.button--white:hover {
    background: #F5170E;
    color: white;
    border: 1px solid #F5170E; 
}

.button--black {
    background: black;
    color: white;
    border-color: none;
    margin-right: 20px;
}

.button--black:hover {
    background-color: #8e8e8e;
}

.form__button {
    margin-right: 10px;
    border: 1px solid #F5170E; 
    background: white;
}

.form__button:hover {
    color: white;
    background-color: #F5170E;;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__button :last-child {
    margin-right: 0px;
}