.contacts {
    
  
    font-style: normal;
    text-align: right ;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 0px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #ffffff;
}

.contacts__text {
    font-size: 11px;
    color: #9A9A9A
}
