.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown__menu{
    display: block;
}

.dropdown__menu {
    position: absolute;
    background: #EDEDED;
    opacity: 0.8;
    padding: 15px;
    width: 160px;
    top: 100%;
    display: none;
    margin-top: 20px;
    color: #18191b;
    font-size: 13px;
    text-align: center;
    right: 0px;
    line-height: 20px;
    border-radius: 4px;
    /* border: 10px solid transparent; 
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #d9dcdc;
    top: -19px;
    right: 20px;
    border-top-width: 0px; */
}

.dropdown__menu:before{
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -30px;
    position: absolute;
   
}

.dropdown__menu--tr {
    border: 20px solid transparent; 
    opacity: 0.8;
    border-bottom-color: #EDEDED;
    
    
}

.dropdown__link {
    font-size: 13px;
    text-decoration: underline;
    color: #ffffff; 
}
