
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__list-servise {
    color: #000;
    display: flex;
    align-items: center;
}

.paginator__display {
    margin-right: 26px;
}

.paginator__display-service {
    margin-right: 26px;
    color: #000;
}

.paginator__item {
    text-align: center;
}

.paginator__item--active .paginator__link {
    background: #FFFFFF;
    color: #F5170E;;
}

.paginator__item--activeservice .paginator__list-servise {
    background: #F5170E;
    color: white;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    
}