.container__partners {
   display: flex;
   align-items: center;
   flex-flow: row;
   flex-wrap: wrap;
   width: 1350px;
    margin-top: 30px;
    
}

.partners {
    display: flex;
    background: #F4F5F5;
    justify-content: center;
    /* align-items: center; */
    
}

.partners__text {
    font-weight: bold;
    font-size: 48px;  
    color: #1A1B1E;
    margin: 0px;
    
 
    /* width: 254px;
    height: 65px; */
    background: #F4F5F5;
  
}

.partners__item {
    padding: 50px;
}

.partners__item-img {
    object-fit: cover;
}