
.partners {
    background: #F4F5F5;
    width: 1450px;
    display: flex;
    justify-content: center;
    
}

.partners__text {
    font-weight: bold;
    font-size: 48px;  
    color: #1A1B1E;
    padding-left: 45px;
    margin: 0px;
}

.partners__item {
    padding: 20px;
    object-fit: cover;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}



.partners__name {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
   
}