.preview {
    width: 50%;
    margin-bottom: 300px;
    margin-top: 105px;
}

.preview__title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 18px;
}

.preview__text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 70px; 
}