
.socials {
    position: absolute;
    right: 300px;
}

.socials__services {
    position: absolute;
    
    right: 300px;
}

.socials__list {
    display: flex;
}

.socials__item {
    margin-left: 8px;
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
    padding: 20px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
}

.socials__icon--tg:after {
    background: url(./sprite.css)-122px -10px;
}

.socials__icon--tg:hover:after {
    background-position:-122px -66px;
} 

.socials__icon--vk:after {
    background: url(./sprite.css) -10px -122px;
}

.socials__icon--vk:hover:after {
    background-position:-66px -122px;
} 

.socials__icon--fb:after {
    background: url(./sprite.css) -10px -10px;
}

.socials__icon--fb:hover:after {
    background-position:-66px -10px;
} 

.socials__icon--int:after {
    background: url(./sprite.css) -10px -66px;
}

.socials__icon--int:hover:after {
    background-position:-66px -66px;
} 