.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main-page-wrapper {
    background: url("../../img/bg/hero.jpg") center top no-repeat, 
    url("../../img/bg/bottom-pic.jpg") right bottom no-repeat;
}

.wrapper__servises {
    background: url('../../img/bg/headline.jpg')center top no-repeat; 
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.wrapper__reviews {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: url("../../img/bg/headline.jpg") center top no-repeat;
    
}

.wrapper__content {
    flex: 1;
    
   
}